/* everything but border and border radius. for most other things
want padding margins and others use em.  */

* {
  font-family: 'Alegreya', serif;
}

body {
background: #E0F7E9

}

.App h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Display Card Components */

.card-container {
  display: flex;
  flex-wrap: wrap;
}



.card {
    width: 400px;
    max-width: 100%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .card button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #45a049;
  }
  
.display-button {
  background-color: #4361ee;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fffff0;
  transition: all 0.2s ease-in-out;
}

.display-button:hover {
  background-color: #3a0ca3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  color: #ffffff;
}




/*Create Card Form Component*/

.create-card {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .create-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .create-card form {
    display: flex;
    flex-direction: column;
  }
  
  .create-card input,
  .create-card textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .create-card button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-card button:hover {
    background-color: #45a049;
  }

  /* Login */
  
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5; /* Light gray background */
}

.login-title {
  font-size: 2.5rem; /* Adjust size as needed */
  color: #333; /* Dark gray text color */
  margin-bottom: 2rem; /* Space below title */
}

.login-form {
  width: 300px; /* Adjust form width as needed */
  padding: 2rem;
  background-color: #fff; /* White background for form */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.login-form input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background-color: #007bff; /* Blue button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
